
{% extends 'admin/admin_base.html.twig' %}

{% block content %}

        {% for book in books %}
            <article>
                <img class="imgresp3" src="{{  asset('uploads/book/'~book.bookCover) }}" alt="">
                <h2>{{ book.title }}</h2>
{#                <p>Genre : {{ book.genre }}</p>#}
                <p> RESUME : {{ book.resume }}</p>
                <p>Nom de l'auteur:{{ book.author.lastname }} {{ book.author.firstname }}</p>
                <a href="{{ path("admin_book_delete", {"id":book.id}) }}">efface moi </a>
                <h3> <a href="{{ path("Admin_insert") }}">ajoute un livre</a></h3>
                <a href="{{ path("admin_books_update", {"id":book.id}) }}">modifie ce livre</a>

            </article>

        {% endfor %}

{% endblock content %}
